/* Se carga el tipo de letra*/
@font-face {
    font-family: Estilo1;
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Estilo2;
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: Estilo3;
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: Estilo4;
    src: url(../fonts/Roboto-LightItalic.ttf);
}
body{
    width: 100%;
}

/*section titulo principal*/
.titulo{
    /*background-color:aqua;*/
    margin-top: 100px;
    margin-left: 130px;
    height: 50px;
    width: 50px;
    text-align: center;
}
.contenedor {
    margin-top: 25px;
    margin-bottom: 100px;
    margin-left: 130px;
    width: 100%;
	max-width:1000px;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
}

.contenedor> div{
    display:block;
    padding: 20px;
    color: #000;
    background:#e6007e;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .25);
    border-radius: 5px;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ;
    grid-template-rows: repeat(2, minmax(100px, 1fr));
    grid-gap: 20px;
}

.contenedor .Contenido{
    background-color:#e6007e;
    grid-row-start: 1;
    grid-row-end: -1;
}


/*parrafos*/
.contenido p {
    font-size: 15px;
    text-align: center;
    padding: 20px 0;
    line-height: 0.6cm;
    text-align: justify;
    font-family: Estilo2;
    overflow-y:auto;
    color: white;
    min-height:min-content;
    min-width:min-content;
}


/*imagenes*/
.img-content img{
    width: 1.6cm;
    height: 1.5cm;
    float:left;
    overflow:hidden;
}
/*Titulos del contenido*/
.h1_contenido {
  
    width: 500px;
    height: 50px;
    color:#e6007e;
    font-size: 30px;
    font-family: Estilo3;
    text-align: left;

}
.h2_contenido{
    color:white;
    font-size: 20px;
    text-align: left;
    line-height: 0.5cm;
    font-family: Estilo3;
}

.h3_contenido{
    color:white;
    font-size: 15px;
    text-align: left;
    line-height: 0.5cm;
    font-family: Estilo4;

}

.h4_contenido{
    color:white;
    background-color: #f39200;
    border-radius: 5px;
    font-size: 15px;
    text-align: left;
    line-height: 0.5cm;
    font-family: Estilo2;
    
}

.h5_contenido{
    color:white;
    font-size: 15px;
    text-align: left;
    line-height: 0.5cm;
    font-family: Estilo2;
    

}
/*Titulo del Resumen*/
.h1_resumen {
    color:white;
    font-size: 16px;
    text-align: justify;
    font-family: Estilo3;
    line-height: 0.4cm;
}

/*------Revista,articulo,libro etc.-------*/
.h2_resumen{ 
    color:rgb(225, 219, 219);
    font-size: 15px;
    text-align: left;
    line-height: 0.5cm;
    font-family: Estilo4;
    min-height:min-content;
    min-width:min-content;

}
/*-----------Autores------------*/
.h3_resumen{   
    color:white;
    border-radius: 5px;
    font-size: 15px;
    line-height: 0.4cm;
    font-family: Estilo2;
    text-align: justify;
    
}

.h4_resumen{
    color:white;
    background-color: #f39200;
    border-radius: 5px;
    font-size: 15px;
    text-align: left;
    line-height: 0.5cm;
    font-family: Estilo2;
    
}

.h5_resumen{
    color:white;
    font-size: 15px;
    text-align: left;
    line-height: 0.5cm;
    font-family: Estilo2;
    

}

/* boton del resumen*/

.boton_resumen{
    display:inline-block;
    width: 250px;
    height: 50px;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    background-color: #f39200;
    margin-top: 20px;
}



.boton_resumen::after{
    content: "";
    width: 100%;
    height: 100%;
    background:#ff87a3;
    position: absolute;
    z-index:1;
    top: -80px;
    left: 0;
    transition: .3s ease-in-out all;

}

.boton_resumen  span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
    
}

.boton_resumen:hover::after{
    top:0;
    
}

.boton_resumen img{
    margin-left: 210px;
}


/* boton contenido*/
.boton{
    display: inline-flex;
    width: 200px;
    height: 40px;
    font-family: Estilo3;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    color:white;
    background-color: #f39200;
   
}

.boton a{
    color: white;
}

.boton::after{
    content: "";
    width: 100%;
    height: 100%;
    background:#ffcf87;
    position: absolute;
    z-index:1;
    top: -80px;
    left: 0;
    transition: .3s ease-in-out all;

}

.boton  span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.boton:hover::after{
    top:0;

}

/*boton populismo next*/
.btn_Pop{
    display:inline-block;
    align-items: flex-end;
    width: 100px;
    height: 100px;
    font-family: Estilo3;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    
}

.btn_Pop:hover{
    background-color:white;
    border-style:dotted;
    border-color: #e6007e;
    cursor:pointer;
    transition-duration: .8s;
}

.resumen img{
    width: 1cm;
    height: 1cm;
    float:left;
    overflow:hidden;
}

/* efecto hover del resumen*/
.resumen:hover h1{
    color:#e6007e;
}
.resumen:hover h3{
    color:#e6007e;
}
.resumen:hover{
    background-color:white;
    border-style:hidden;
    border-color: #e6007e;
    cursor:pointer;
    transition-duration: .8s;
}

@media screen and (max-width:768px) {
    
    /*section titulo principal*/
.titulo{
    /*background-color:aqua;*/
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 0%;
   
}
.contenedor {
    
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 10px;
    text-align: center;

}

.titulo h1{
font-size: 20px;
max-width: 300px;
}

}


